/**
 * CSS Reset & Base Styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size:  16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:  grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $background-color;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: $font-weight-semibold;
  line-height: $line-height-sm;
}

p {
  margin: 0;
}

a {
  color: $primary-color;
  text-decoration:  none;
  transition: $transition-base;

  &:hover {
    color: $primary-dark;
  }
}

button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
  border: none;
  background:  none;
  padding: 0;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

ul, ol {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

code {
  font-family:  $font-family-monospace;
  background-color:  $grey-100;
  padding: 0.125rem 0.25rem;
  border-radius:  $border-radius-sm;
  font-size: 0.875em;
}

pre {
  font-family: $font-family-monospace;
  background-color: $grey-100;
  padding: map-get($spacing, 4);
  border-radius: $border-radius;
  overflow-x: auto;
}

hr {
  border: 0;
  border-top: $border-width solid $grey-300;
  margin: map-get($spacing, 6) 0;
}

::selection {
  background-color: rgba($primary-color, 0.2);
  color: $text-color;
}